<h1>Lista de categorias</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria => { %>
            <tr>
                <td><%= categoria.id %></td>
                <td><%= categoria.nome %></td>
                <td>
                    <a href="/categorias/<%= categoria.id %>" class="btn btn-primary">View</a>
                    <a href="/categorias/<%= categoria.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/categorias/<%= categoria.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
