<h1>produto Details</h1>
<p>ID: <%= produto.id %></p>
<p>Nome: <%= produto.nome %></p>
<p>Descrição: <%= produto.descricao %></p>
<p>Preço: <%= produto.preco %></p>
<p>Quantidade: <%= produto.quantidade %></p>
<p>Categoria: <%= produto.categoria_nome %></p>
<a href="/produtos" class="btn btn-primary">Back to List</a>
